*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --circle-size: 35px;
    --target-width: 130px;
    --target-height: 230px;
}
.wrap{
    width: 100%;
    height: 100vh;
    padding: var(--circle-size);
    background-color: #3a3a3a;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    cursor: url("../img/cursor.png"), auto;
    
}
.coordinateCircle{
    position: absolute;
    width: var(--circle-size);
    aspect-ratio: 1 / 1;
}

.coordinateCircle:nth-child(1){
    background-color: rgb(255, 0, 0);
    top: 0;
    left: 0;
    border-bottom-right-radius: 50%;
}
.coordinateCircle:nth-child(2){
    background-color: rgb(0, 0, 255);
    bottom: 0;
    left: 0;
    border-top-right-radius: 50%;
}
.coordinateCircle:nth-child(3){
    background-color: rgb(0, 255, 0);
    bottom: 0;
    right: 0;
    border-top-left-radius: 50%;
}

.gameZone{
    width: calc(100% - var(--target-width));
    height: calc(100% - var(--target-height) * 2);
}
.enemyTarget{
    cursor: none;
    width: var(--target-width);
    height: var(--target-height);
    transform: scale(1);
    background: url(../img/blackTarget.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;   
    animation: targetAnim 1s ease-in-out;
}
@keyframes targetAnim{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
#score{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 30px;
}